################################
# Configurações Globais do Repo #
################################
*.log
*.log.*
*.tmp
*.bak
*.swp
*~
.DS_Store
.Trash-*
.idea/
.vscode/
.npm/
.env
.env.*
!.env.example
package-lock.json
yarn.lock
pnpm-lock.yaml
/.classpath
/.project
/.settings
/bin/
/tmp/
/out/
/build/
/dist/
/coverage/
/e2e/
/test-output/
/.angular/
/.ng/
/.pnp
/.pnp.js
/.vs/
/.vscode/
/.vscode-test/
/scratch/
/hs_err_pid*
/reports/
/performance/
/target/
/pom.xml.*
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/timing.properties
/.metadata
/.recommenders
/.externalToolBuilders/
/*.launch
/*.pydevproject
/*.cproject
/*.autotools
/*.factorypath
/*.buildpath
/*.tern-project
/*.texlipse
/*.springBeans
/*.apt_generated/
/*.cache-main
/*.scala_dependencies
/*.worksheet
/*.class
/*.ctxt
/*.mtj.tmp/
/*.jar
/*.war
/*.nar
/*.ear
/*.zip
/*.tar.gz
/*.rar
/*.stackdump
/[Dd]esktop.ini
/$RECYCLE.BIN/
/*.cab
/*.msi
/*.msix
/*.msm
/*.msp
/*.lnk
/*.iws
/*.iml
/*.ipr
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
/.exercism
/*.sublime-*
/.gradle
/README.html
/*.tsbuildinfo

##########################
# Frontend (Angular) #
##########################
frontend/node_modules/
frontend/.angular/cache/
frontend/.next/
frontend/.serverless/
frontend/.serverless_nextjs/
frontend/.svelte-kit/
frontend/.vercel/
frontend/.cache/
frontend/.parcel-cache/
frontend/.yarn/cache/
frontend/.yarn/unplugged/
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz
frontend/.yarn/plugins/
frontend/.yarn/sdks/
frontend/.yarn/versions/
frontend/.yarn/patches/
frontend/jspm_packages/
frontend/web_modules/
frontend/cypress/videos/
frontend/cypress/screenshots/
frontend/bower_components/
frontend/.rush/
frontend/.lighthouseci/

########################
# Backend (Java/Spring) #
########################
backend/.gradle/
backend/gradle-app.setting
backend/build/
backend/out/
backend/spring-boot-devtools.properties
backend/.flattened-pom.xml
backend/.scannerwork/
backend/.sonar/
backend/dependency/
backend/bin/
backend/.factorypath
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.m2e.core.prefs
backend/.settings/org.eclipse.wst.common.component
backend/.settings/org.eclipse.wst.common.project.facet.core.xml
backend/.settings/org.eclipse.wst.jsdt.ui.superType.container
backend/.settings/org.eclipse.wst.jsdt.ui.superType.name
backend/.settings/org.eclipse.wst.validation.prefs
backend/.settings/org.jboss.ide.eclipse.as.core.prefs
backend/.springBeans
backend/.sts4-cache/

#########################
# Exceções Controladas #
#########################
!**/mvnw
!**/mvnw.cmd
!**/.mvn/wrapper/maven-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.jar

!**/src/main/resources/.gitkeep
!**/src/test/resources/.gitkeep
!**/public/.gitkeep
!**/assets/.gitkeep